# golang output binary directory
bin
__debug_bin

# golang vendor (dependencies) directory
vendor

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Node
node_modules/

# Serverless directories
.serverless

**/.DS_Store

# PGP Card Status
reader_*.status

# Lazy
lazy-lock.json

**/fish_variables

# tmux plugins
.config/tmux/plugins/*

# restic secrets
.restic
